body {
  background-image: url(Images/winter-snow.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.huvudrubrik {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 5px solid black;
}

.huvudrubrik h1 {
  background-color: darkgrey;
  color: wheat;
}

.Lediga_dagar {
  padding: 12px 25px;
  background-color: lightgrey;
  border: 3px solid white;
  list-style: square;
}
